{% extends 'choice.html.twig' %}

{% block body %}
<style>
	* {		
		padding: 0;
		margin: 0;
	}
	body {
		background: #000 url("/assets/img/morfeo.jpg") top center no-repeat;
		/*background-size: contain;*/
		width: 666px;
		height: 585px;
	}
	.hand {
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		width: 203px;
		height: 160px;
		position: absolute;
		top: 380px;
		
		color: #fff;
		text-align: center;
		text-decoration: none;
		text-weight: bold;
		text-shadow: 4px 0 0 #000, 0 2px 0 #000, 0 0 13px #000;
		font-family: monospace;
		font-size: 60px;
		
		transition: top 0.3s ease-in;
	}
	
	.hand:hover {
		top: 350px;
	}
	
	.spa {
		background-image: url("/assets/img/blue.png");
		left: calc(60vw);
	}
	.classic {
		background-image: url("/assets/img/red.png");
		right: calc(60vw);
	}
</style>

<div class="hands">
    <a class="hand spa" href="/spa/orders">SPA</a>
    <a class="hand classic" href="/orders">Classic</a>
</div>
{% endblock %}
