{% extends 'base.html.twig' %}

{% block title %}Sync Details{% endblock %}
{% block h_one %}Sync Details{% endblock %}

{% block body %}
<b>Gotten Orders:</b> {{ orders|length }}


</div>
{% endblock %}
